<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MDBPath" value="c:\" />
    <add key="XMLPath" value="c:\" />
    <add key="Rotulos" value="true" />
    <add key="Setas" value="true" />
    <add key="Ligacoes" value="false" />
  </appSettings>
</configuration>
